
@media (max-width:768px){
    .mobile-icon {
        visibility: visible;
        display:block;
        padding-left: 20px;
        margin-top: 15px;
        cursor: pointer;
        pointer-events: none;
    }
    .mobile-menu {
        display: block;
        position: relative;
        top: 37px;
        left: 16px;
        width: 20px;
        opacity: 0;
        height: 20px;
    }
    .menu-heading ul li {
        display: block;
    }
    .menu-heading ul li a {
        line-height: 40px;
        border-right: 0;
    }
 
    .logo-heading {
        width: 100%;
        text-align: center;
    }
    .logo-heading img {
        width: 15%;
    }
    .menu-heading ul{
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
    .mobile-menu:checked ~ ul{
        visibility: visible;
        opacity: 1;
        height: 100%;
    }
    .cloose{
        position: absolute;
        left: 23px;
        top: 92px;
        font-size: 22px;
        pointer-events: none;
        color: azure;
    }
    .mobile-menu:checked ~ .cloose {
        display: block;
    }
    .mobile-menu:checked ~ .mobile-icon{
        opacity: 0;
    }
    .menu-heading {
        text-align: left;
    }
    .btn-heading {
        width: 27%;
        text-align: right;
    }
    .header-button {
        position: relative;
        bottom: -16px;
    }
    .menu-heading ul li ul {
        width: 156px;
        overflow: visible;
        left: 135px;
    }
}